@import '../Form/Form.css';

.cv {
    margin-left: auto;
    min-width: 50vw;
    background: linear-gradient(90deg ,var(--background-clr), var(--secondary-clr) 75%);
    padding: 3rem;
    display: grid;
    place-items: center;
}

.paper {
    min-height: 30rem;
    min-width: 22rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: .75rem;
    background-color: var(--light-background-clr);
    color: var(--light-text-clr);
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .1rem;
}