@import '../../App.css';

.input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.multiple-input {
  display: flex;
  flex-direction: column;
}

input {
  background-color: var(--background-clr);
  border: none;
  border-bottom: 1px solid rgb(69, 69, 69);
  padding: 0.5rem 0rem;
  outline: none;
  font-size: 0.75em;
  color: var(--accent-clr);
  transition: border-bottom 0.4s ease;
  height: 2rem;
}

input:focus {
  border-bottom: 1px solid var(--accent-clr);
}

::placeholder {
  color: rgb(94, 94, 94);
}

.form-container {
  height: 100vh;
  display: grid;
  place-items: center;
  border-left: 1px solid rgb(54, 54, 54);
  border-right: 1px solid rgb(54, 54, 54);
}

.form-container:has(.scroll) {
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 4em;
  gap: 1rem;
  width: 35vw;
}

.job-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form:not(.scroll) {
  height: 100vh;
}

h2 {
  color: var(--accent-clr);
}

.form hr {
  background-color: var(--primary-clr);
  border: none;
  min-height: 0.05rem;
  margin-block: 0.125rem;
}

.form .job-hr {
  min-height: 0.75rem;
  margin-block: 1rem;
}

.form .buttons {
  flex-direction: row;
  gap: 0.5rem;
}

.form .button {
  font-size: 0.75rem;
}
