:root {
  --background-clr: #14141a;
  --text-clr: #f3f3f6;
  --primary-clr: #8a886a;
  --secondary-clr: #293428;
  --accent-clr: #a2a186;
  --light-background-clr: #e5e5eb;
  --light-text-clr: #09090c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-clr);
  font-family: 'Roboto', sans-serif;
  color: var(--text-clr);
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

main {
  display: flex;
}

.toolbar {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloadButtons {
  display: flex;
  gap: 0.75em;
}

.downloadButton {
  background: inherit;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-size: 0.9em;
  justify-content: center;
}

.svg {
  padding: 0.4rem;
  fill: var(--text-clr);
}

.downloadButton:hover p {
  color: var(--accent-clr);
}

.downloadButton:hover .svg {
  fill: var(--accent-clr);
}

.importJSON {
  background: inherit;
  align-self: center;
}

.importJSON:hover {
  color: var(--accent-clr);
}

.hide-on-desktop {
  display: none !important;
}

/* Mobile Styles */
@media (max-width: 786px) {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
  }

  main,
  .toolbar,
  .buttons {
    max-width: 100% !important;
  }

  main {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    height: 100dvh !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .hide-on-desktop {
    display: flex !important;
  }

  .buttons-bar {
    min-height: auto !important;
    justify-content: center !important;
    padding: 1rem !important;
    display: flex !important;
    gap: 0.5rem !important;
    padding-bottom: 0 !important;
  }

  .buttons {
    flex-direction: row !important;
    gap: 0.5rem !important;
    max-width: 100% !important;
  }

  .form-buttons {
    display: flex !important;
    overflow-x: auto !important; /* Change scroll to auto for better compatibility */
    white-space: nowrap !important; /* Ensure no wrapping */
    gap: 0.75rem !important;
    padding-bottom: 5px !important;
    position: relative !important; /* Ensure relative positioning for the pseudo-element */
    -webkit-overflow-scrolling: touch !important; /* Enable momentum scrolling in Safari */
  }

  .form-buttons::after {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 10px !important; /* Adjust size for better visibility */
  }

  .form-buttons::-webkit-scrollbar {
    height: 8px !important; /* Customize the height of the scrollbar */
  }

  .form-buttons::-webkit-scrollbar-thumb {
    background-color: var(--primary-clr) !important; /* Darker thumb */
    border-radius: 10px !important;
  }

  .form-buttons::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1) !important; /* Lighter track */
  }

  .action-buttons:not(.hide-on-mobile) {
    width: 100% !important;
    display: flex !important;
    gap: 0.75rem !important;
    padding: 0.5rem 1rem !important;
  }

  .form-buttons button {
    font-size: 1rem !important;
  }

  .action-buttons button {
    padding-block: 0.75em !important;
    padding-inline: 1em !important;
    flex: 1 !important;
  }

  .importJSON {
    background: var(--accent-clr) !important;
    align-self: center !important;
    margin-block: 1rem !important;
    color: var(--background-clr) !important;
    padding: 0.5rem 1rem !important;
    border-radius: 2rem !important;
    font-size: 0.75rem !important;
    text-align: center !important; /* Ensure text alignment */
  }

  .form-container {
    display: block !important;
    height: calc(
      100% - 75px
    ) !important; /* Subtract the height of the fixed action buttons */
    border: none !important;
  }

  .form {
    height: fit-content !important;
    padding: 1.5rem !important;
    width: 100vw !important;
    padding-block: 0 !important;
  }

  /* Fullscreen overlay styling */
  .file {
    display: none !important;
    position: fixed !important; /* Make it take up the entire viewport */
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    height: 100dvh !important;
    z-index: 1000 !important; /* Ensure it appears above other elements */
  }

  .file.show {
    display: flex !important;
  }

  .back-button {
    align-self: center !important;
    margin: 1rem !important;
  }

  .toolbar {
    gap: 1rem !important;
  }
}
